/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

body{
  font-family: Helvetica, Arial, sans-serif;
}

header{
  background-color: #ff8523;
  padding: 10px 10px 10px;
}

nav a{
    color: white;
    text-decoration-line: none;
    border-width: 1px;
    padding: 3px 8px 3px 8px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
}

#page_content{
  padding: 20px;
}

p a{
  color:#1fabe5;
}

h2, h3 {
  color: #1fabe5;
}

ul{
  font-weight: bold;
}

section {
  padding-bottom: 20px;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #dddddd
}

/*
I'm running out of time.... don't feel like tackling the Table section in last 20 minuts... try the styling for the form section
*/

form {
  background-color: #eee;
  padding: 15px;
  border-radius: 5px;
  font-weight: bold;
}

form div{
  padding: 10px;
}
.name{
  background-color: #ff8523;
  /*padding: 9px; Since I added the form div line above, I don't really need this. However, I need to solve how to give some vertical padding*/
  border-radius: 5px;
  color: white;
}
